:root {
    --blue: #041e50;
    --lightgray: #dde7ea;
}

* {
    padding: 0 !important;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #CCCCCC;
}

@font-face {
    font-family: "Electrolux Bold";
    src: url('fonts/ElectroluxSans-Bold.woff') format("woff"),
    url('fonts/ElectroluxSans-Bold.woff2') format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Electrolux Light";
    src: url('fonts/ElectroluxSans-Light.woff') format("woff"),
    url('fonts/ElectroluxSans-Light.woff2') format("woff2");
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: "Electrolux Regular";
    src: url('fonts/ElectroluxSans-Regular.woff') format("woff"),
    url('fonts/ElectroluxSans-Regular.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Electrolux Semibold";
    src: url('fonts/ElectroluxSans-SemiBold.woff') format("woff"),
    url('fonts/ElectroluxSans-SemiBold.woff2') format("woff2");
    font-weight: semibold;
    font-style: normal;
}



.navbar-light ul a {
    font-family: Electrolux Regular;
    font-size: 16px;
    margin-left: 30px; !important;
}
.navbar-light .navbar-nav .nav-link {
    color: var(--blue);
}

nav ul {
    margin-left: auto;
    height: 100%;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--blue);
}

.navbar-toggler {
    padding: 5px 10px !important;
    margin-right: 20px;
}



.white h2 {
    color: white;
    font-size: 24px;
    font-family: Electrolux Bold;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.blue {
    color: var(--blue);
}
.blue h2 {
    color: var(--blue);
    font-size: 25px;
    font-family: Electrolux Bold;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.blue p {
    font-size: 14px;
    color: var(--blue);
    font-family: Electrolux Regular;
}

.btn-white {
    background-color: white;
    border-radius: 6px;
    color: var(--blue);
    font-family: Electrolux Semibold;
    font-size: 18px;
    padding: 10px 20px !important;
    margin-top: 10px;
}
.btn-blue {
    background-color: var(--blue);
    border-radius: 6px;
    color: white;
    font-family: Electrolux Semibold;
    font-size: 18px;
    padding: 10px 20px !important;
    margin-top: 10px;
}
.btn-blue:hover {
    color: white;
}

.btn-border-blue-hover {
    border: solid 1px var(--blue);
    transition: 0.2s ease-in-out;
}

.btn-border-blue-hover:hover {
    background-color: white;
    color: var(--blue);
}

.btn-border-white-hover {
    border: solid 1px white;
    transition: 0.2s ease-in-out;
}
.btn-border-white-hover:hover {
    background-color: var(--blue);
    color: white;
}

.button-right {
    right: 20px;
    bottom: 20px;
    background-color: white;
    border-radius: 6px;
    color: var(--blue);
    font-family: Electrolux Semibold;
    font-size: 18px;
    padding: 10px 20px !important;
}

h3 {
    font-family: Electrolux Bold;
    color: white;
    font-size: 24px;
    padding-bottom: 20px !important;
}
h4 {
    font-family: Electrolux Semibold;
    color: white;
    font-size: 18px;
    padding-bottom: 20px !important;
}
h5 {
    font-family: Electrolux Regular;
    color: white;
    font-size: 18px;
    padding-bottom: 20px !important;
}

.bg-blue {
    background-color: var(--blue);
}
.bg-grey {
    background-color: #828fa1;
    z-index: 2;
}
.bg-lightgray {
    background-color: var(--lightgray);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.video-preview {
    position: relative;
    overflow: hidden
}

.video-bg-img img {
    transition: all 0.5s ease-in-out;
}
.video-bg-img:hover :first-child {
    transform: scale(1.15);
}

.play-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.video.video-full {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}


.modal-lg {
    margin-top: 8rem;
}
.modal-content {
    border-radius: 0;
    margin: auto;
}
.modal-header {
    border: none;
}

.close {
    color: white;
}
.close:hover {
    color: white;
}

.carousel-control-prev {
    opacity: 1 !important;
}
.carousel-control-next {
    opacity: 1 !important;
}
.carousel-indicators li {
    height: 12px;
    width: 12px;
    border-radius: 50% !important;
    opacity: 0.3 !important;
    margin-bottom: 0.6rem;
    border: 0;
    background-color: var(--blue);
}
.carousel-indicators .active {
    opacity: 1 !important;
}


.promo10:before {
    width: 80px;
    height: 80px;
    content: "+";
    font-size: 120px;
    font-family: Electrolux Regular;
    line-height: 82px;
    text-indent: 5px;
    color: white;
    background-color: #7A8A9C;
    border-radius: 50%;
    margin: -40px auto auto auto;
    z-index: 10;
}


footer {
    background-color: var(--blue);
}